@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-tomo-dark bg-white antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold;
  }
}

@layer utilities {
  @keyframes float-up {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-float-up {
    animation: float-up 1s ease-out forwards;
  }
}
